*{
    padding: 0px;
    margin:0px
}
.header{
    background-color: blueviolet;
   

}
.left{
    background-color: blue;
}
.right{
    background-color: brown;
}
.footer{
    background-color: blueviolet;
}